@font-face {
  font-family: "GraphikLCG-Regular";
  src: url(/fonts/GraphikLCG-Regular.ttf) format("ttf"),
    url(/fonts/GraphikLCG-Regular.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "GraphikLCG-Semibold";
  src: url(/fonts/GraphikLCG-Semibold.ttf) format("ttf"),
    url(/fonts/GraphikLCG-Semibold.woff) format("woff");
  font-weight: 600;
}

* {
  box-sizing: content-box;
  font-family: "GraphikLCG-Regular", sans-serif;
  text-decoration: none;
  list-style: none;
  font-size: 22px;
}

ul {
  padding-left: 0;
}

h2 {
  font-family: "GraphikLCG-Semibold", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2,4rem;
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
  margin: 2, 04rem;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}

header {
  border-bottom: 2px solid #c6c2c2;
}

.menu {
  align-self: center;
  align-items: center;
  display: flex;
}

.header_logo {
  display: inline-block;
  vertical-align: middle;
  padding: 40px;
}

.navigation {
  display: inline-block;
}

.navi {
  font-size: 0;
  display: flex;
  flex-wrap: nowrap;
}

.nav_items {
  font-size: 0, 6rem;
  display: inline-block;
  line-height: 0, 8rem;
  margin-right: 50px;
}

.nav_link {
  color: black;
}

.btn_cont {
  padding: 0;
  display: inline-block;
  justify-self: end;
}

.btn {
  padding: 14px 28px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-family: "GraphikLCG-Semibold", sans-serif;
  font-weight: 600;
  font-size: 0, 64rem;
  line-height: 1.8rem;
  text-align: center;
}

.btn_login {
  color: #000;
  margin-right: 10px;
}

.btn_free {
  background: #ff6336;
  color: white;
}

.start_section {
  display: flex;
  flex-direction: row-reverse;
  flex: 0 0 50%;
}

.start_img_wrapper {
  padding-top: 151px;
}

.start_section_img {
  max-width: 100%;
  max-height: 100%;
}

.start_wrapper {
  max-width: 50%;
  margin-top: 129px;
  text-align: left;
}

.start_secion__title {
  font-family: "GraphikLCG-Semibold", sans-serif;
  font-weight: 600;
  font-size: 65px;
  line-height: 70px;
  color: #000000;
}

.start_wrapper > .start_section__description {
  font-size: 25px;
  line-height: 35px;
  max-width: 471px;
  margin: 51px 0;
}

.start_secion__trialinfo {
  margin-top: 25px;
  font-size: 15px;
  line-height: 25px;
}

.portfolio {
  background-color: #ff9c7d;
  background-size: 100%;
  padding: 103px 0;
}

.portfolio__title {
  font-family: "GraphikLCG-Semibold", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  max-width: 720px;
  margin: 0 auto 70px;
}

.portfolio__logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 25px;
}

.company_logos {
  max-width: 100%;
}

.slideshow {
  margin-top: 90px;
}

.slides {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 250px;
}

.last_slide {
  margin-bottom: 150px;
}

.slides__text {
  max-width: 38%;
}

.slides__text_title {
  margin: 0;
}

.slides__text_description {
  margin: 30px 0;
}

.slides__text_link {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.slides__slide_img {
  max-width: 100%;
}

.slides_reverse {
  flex-direction: row-reverse;
}

.services {
  background-color: #fff8e4;
  padding-top: 120px;
}

.services__title {
  text-align: center;
  margin-bottom: 79px;
}

.services__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 40px;
  align-content: center;
}

.services__cards_card {
  max-width: 320px;
  text-align: center;
}

.cardname {
  font-size: 25px;
  line-height: 35px;
}

.card_discriprion {
  max-width: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.boost_cards {
  padding: 0;
  display: flex;
  justify-items: start;
  align-items: baseline;
}

.boost_card {
  max-width: calc(100% / 3 - 31px);
  text-align: left;
  justify-content: space-between;
}

.boost_cardname {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
}

.boost_card_description {
  font-family: "GraphikLCG-Regular", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.boost_cardlink {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #000000;
}

.boss_interview {
  background-color: #c9e8f2;
}

.boss_text {
  font-size: 30px;
  line-height: 40px;
}

.boss_name {
  font-size: 15px;
  line-height: 25px;
  display: block;
}

.interview_wrapper {
  padding: 53px 0 105px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  width: 100%;
}

.rating {
  background-color: #dabc98;
  padding: 90px 0;
}

.rating_wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.title_rating {
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
}

.text_rating {
  display: flex;
  align-items: center;
  border-right: #000000 solid 1px;
  max-width: 830px;
}

.title_rating {
  margin: 0 124px 0 67px;
}

.rating_stars {
  display: flex;
  flex: 1 2 30%;
  justify-content: space-evenly;
}

.integrations > .container {
  padding: 165px 0;
  text-align: center;
}

.integrations__title {
  margin: 0 auto;
  max-width: 791px;
  font-weight: 600;
  font-size: 65px;
  line-height: 75px;
}

.integrations__text {
  margin: 0 auto;
  max-width: 539px;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}

.integrations__img {
  max-width: 100%;
  margin: 30px auto;
  display: block;
}

.tryit {
  background-color: #ff9c7d;
  padding: 119px 0 161px;
}

.tryit > .container {
  text-align: center;
}

.tryit__title {
  max-width: 780px;
  margin: 0 auto;
}

.tryit__text {
  margin: 29px auto 54px;
  max-width: 438px;
}

.btn_free_black {
  font-size: 17px;
  color: white;
  background-color: #000000;
}

footer {
  background-color: #eeeeee;
  padding-top: 92px;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 95px;
  border-bottom: #000000 1px solid;
}

.footer__leftsection {
  max-width: 300px;
}

.case_title {
  margin-bottom: 28px;
  font-style: normal;
  max-width: 257px;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}

.footer_logo_container {
  margin-top: 25px;
}

.case_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.footer__rightsection {
  max-width: max-content;
}

.footer_links__list {
  display: flex;
  gap: 50px;
  align-content: flex-end;
  align-items: baseline;
}

.footer_column_title {
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  line-height: 55px;
  margin: 0;
}

.footer_column_item {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  margin-bottom: 15px;
}

.bottombar {
  padding: 50px 0;
  display: flex;
  align-items: center;
}

.bottombar_text {
  margin: 0;
  margin-left: 14px;
  font-size: 12px;
  line-height: 15px;
  max-width: 360px;
}

.bottombar_container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

@media screen and (max-width: 1170px) {
  .start_section {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .footer_wrapper {
    flex-direction: column;
    align-items: center !important;
  }

  .footer__leftsection {
    max-width: 100% !important;
  }

  .footer_img {
    width: 100%;
  }

  .btn {
    padding: 10px 22px;
  }

  .btn_cont {
    margin: auto !important;
  }

  .menu {
    flex-direction: column;
    gap: 10px;
  }

  .slides {
    flex-direction: column;
    margin-bottom: 100px;
  }

  .slides_reverse {
    flex-direction: column !important;
  }

  .slides__text {
    max-width: 50%;
  }
}
